div#DesEmBreveNificador {
  position: absolute;
  top: 40px;
  left: calc(50% - 50px);
  width: 100px;
  z-index: 1000000;
}
a.qa-debn-parsed {
  border:2px solid #f00;
}
.qa-debn-removed {
  border:2px solid #f00;
}
.qa-debn-removed-flag {
  border:2px solid #f00;
}
